.Privacy{

    color: white;
    font-family:'Times New Roman', Times, serif;
    transition: all 100ms linear;
    
    width: 100%;
}
.Privacy h1{
 padding: 20px;
    font-size:4rem ;
    text-align: center  ;
}
.Privacy p{
    
    font-size: 20px;
    padding: 30px;
    padding-bottom:70px;
    text-align: center;
    
    
}
