.FAQsSection{
  background-color: whitesmoke;
 
  transition: all 100ms linear;
}
.FAQsSection_heading {
    padding: 2rem;
    text-align: center;
  }
  .k{
  
  }
  .FAQsSection_heading img {
    max-width: 100%;
    height: auto;
  }
  
  .FAQsSection_topics {
    color: #777777;
    display: grid;
    grid-template-columns: 1fr;

    
  }
  
  
  @media (max-width: 480px) {
    .FAQsSection_heading img {
      max-width: 80%;
    }
  
    .FAQsSection_topics {
      gap: 1rem;
    }
  }
  